<div class="container">
  
  <a href= "/create_post">New Post</a>
  
  
  <div class="cat_list">
    <p>This is where we will enumerate the category names<p>
    <% @list.each do |cat|  %>
    
      <ul>
        <li><a href="/category/<%= cat.id %>"><%= cat.name %></a></li>
      </ul>
    
    <% end %>
  </div>


</div>
