<div>
<h1>This is the post you are looking for and shit</h1>
<ul>
  <li> <%= @post.name %> </li>
  <li> <%= @post.description %> </li>
  <li> <%= @post.price %> </li>
  <li> <%= @post.category.name %> </li>
</ul>
</div>
